
.body {
    height: 100vh;
    padding: 30px 50px;
    background-color: #292929;
}

.label {
    color: aliceblue;
}

.input {
    margin-top: 10px;
    width: 500px;
    height: 100px;
    border-radius: 2px;
}

.gallery {
    margin-top: 40px;
}
